<section class="cta-section alternate-2 centred" style="background-image: url(/Realshed/assets/images/background/Section1.jpeg);">
    <div class="auto-container">
        <div class="inner-box clearfix">
            <div class="text">
                <h2>Yeni bir mülk almak yada <br />? bir mülkü mü satmak istiyorsunuz</h2>
            </div>
            <div class="btn-box">
                <a href="/Realshed/property-details.html" class="theme-btn btn-three">Kirala</a>
                <a href="@Url.Action("Index","allforsalepage")" class="theme-btn btn-one" )>Satın Al</a>
            </div>
        </div>
    </div>
</section>