<section class="chooseus-section alternate-2 bg-color-1">
    <div class="auto-container">
        <div class="upper-box clearfix">
            <div class="sec-title">
                <h5>? Neden Fibi Emlak</h5>
                <h2> </h2>
            </div>
            <div class="btn-box">
                @* <a href="/Realshed/categories.html" class="theme-btn btn-one">Tüm Kategoriler</a> *@
            </div>
        </div>
        <div class="lower-box">
            <div class="row clearfix">
                <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                    <div class="chooseus-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-19"></i></div>
                            <h4>Güvenilirlik</h4>
                            <p>Fark yaratan hizmetimizle güvenilir bir emlak deneyimi sunuyoruz</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                    <div class="chooseus-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-26"></i></div>
                            <h4>Deneyimli Danışmanlar</h4>
                            <p>Sektördeki en tecrübeli danışmanlarımız, size en uygun mülkü bulmanızda yardımcı olacak</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12 chooseus-block">
                    <div class="chooseus-block-one">
                        <div class="inner-box">
                            <div class="icon-box"><i class="icon-21"></i></div>
                            <h4>Kişiselleştirilmiş Hizmet</h4>
                            <p>İhtiyaçlarınıza uygun çözümler sunarak size özel bir emlak deneyimi yaşatıyoruz</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
