<header class="main-header header-style-two">
    <!-- header-lower -->
    <div class="header-lower">
        <div class="outer-box">
            <div class="main-box">
                <div class="logo-box">
                    <figure class="logo"><a href="@Url.Action("Index","UILayout")"><img src="/Realshed/assets/images/FibiLogo.png" alt="fibiEmlak"></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <!--Mobile Navigation Toggler-->
                    <div class="mobile-nav-toggler">
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                        <i class="icon-bar"></i>
                    </div>
                    <nav class="main-menu navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse show clearfix" id="navbarSupportedContent">
                            <ul class="navigation clearfix">
                                <li class="current dropdown">
                                    <a href="index.html"><span>Anasayfa</span></a>
                                    <ul>
                                        <li><a href="/Realshed/index.html">Main Home</a></li>
                                        <li><a href="/Realshed/index-2.html">Home Modern</a></li>
                                        <li><a href="/Realshed/index-3.html">Home Map</a></li>
                                        <li><a href="/Realshed/index-4.html">Home Half Map</a></li>
                                        <li><a href="/Realshed/index-5.html">Home Agent</a></li>
                                        <li><a href="/Realshed/index-onepage.html">OnePage Home</a></li>
                                        <li><a href="/Realshed/index-rtl.html">RTL Home</a></li>
                                        <li class="dropdown">
                                            <a href="/Realshed/index.html">Header Style</a>
                                            <ul>
                                                <li><a href="/Realshed/index.html">Header Style 01</a></li>
                                                <li><a href="/Realshed/index-2.html">Header Style 02</a></li>
                                                <li><a href="/Realshed/index-3.html">Header Style 03</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/Realshed/index.html"><span>Ekspertiz</span></a>
                                    <ul>
                                        <li><a href="/Realshed/agents-list.html">Agents List</a></li>
                                        <li><a href="/Realshed/agents-grid.html">Agents Grid</a></li>
                                        <li><a href="/Realshed/agents-details.html">Agent Details</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="index.html"><span>İlanlar</span></a>
                                    <ul>
                                        <li><a href="/Realshed/property-list.html">Property List</a></li>
                                        <li><a href="/Realshed/property-grid.html">Property Grid</a></li>
                                        <li><a href="/Realshed/property-list-2.html">Property List Full View</a></li>
                                        <li><a href="/Realshed/property-grid-2.html">Property Grid Full View</a></li>
                                        <li><a href="/Realshed/property-list-3.html">Property List Half View</a></li>
                                        <li><a href="/Realshed/property-grid-3.html">Property Grid Half View</a></li>
                                        <li><a href="/Realshed/property-details.html">Property Details 01</a></li>
                                        <li><a href="/Realshed/property-details-2.html">Property Details 02</a></li>
                                        <li><a href="/Realshed/property-details-3.html">Property Details 03</a></li>
                                        <li><a href="/Realshed/property-details-4.html">Property Details 04</a></li>
                                    </ul>
                                </li>
                                <li class="dropdown">
                                    <a href="/Realshed/index.html"><span>Sayfalar</span></a>
                                    <div class="megamenu">
                                        <div class="row clearfix">
                                            <div class="col-xl-4 column">
                                                <ul>
                                                    <li><h4>Pages</h4></li>
                                                    <li><a href="/Realshed/about.html">About Us</a></li>
                                                    <li><a href="/Realshed/services.html">Our Services</a></li>
                                                    <li><a href="/Realshed/faq.html">Faq's Page</a></li>
                                                    <li><a href="/Realshed/pricing.html">Pricing Table</a></li>
                                                    <li><a href="/Realshed/compare-roperties.html">Compare Properties</a></li>
                                                    <li><a href="/Realshed/categories.html">Categories Page</a></li>
                                                    <li><a href="/Realshed/career.html">Career Opportunity</a></li>
                                                    <li><a href="/Realshed/testimonials.html">Testimonials</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-4 column">
                                                <ul>
                                                    <li><h4>Pages</h4></li>
                                                    <li><a href="/Realshed/gallery.html">Our Gallery</a></li>
                                                    <li><a href="/Realshed/profile.html">My Profile</a></li>
                                                    <li><a href="/Realshed/signin.html">Sign In</a></li>
                                                    <li><a href="/Realshed/signup.html">Sign Up</a></li>
                                                    <li><a href="/Realshed/error.html">404</a></li>
                                                    <li><a href="/Realshed/agents-list.html">Agents List</a></li>
                                                    <li><a href="/Realshed/agents-grid.html">Agents Grid</a></li>
                                                    <li><a href="/Realshed/agents-details.html">Agent Details</a></li>
                                                </ul>
                                            </div>
                                            <div class="col-xl-4 column">
                                                <ul>
                                                    <li><h4>Pages</h4></li>
                                                    <li><a href="/Realshed/blog-1.html">Blog 01</a></li>
                                                    <li><a href="/Realshed/blog-2.html">Blog 02</a></li>
                                                    <li><a href="/Realshed/blog-3.html">Blog 03</a></li>
                                                    <li><a href="/Realshed/blog-details.html">Blog Details</a></li>
                                                    <li><a href="/Realshed/agency-list.html">Agency List</a></li>
                                                    <li><a href="/Realshed/agency-grid.html">Agency Grid</a></li>
                                                    <li><a href="/Realshed/agency-details.html">Agency Details</a></li>
                                                    <li><a href="/Realshed/contact.html">İletişim</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="">
                                    <a href="@Url.Action("Index","Agent")"><span>Ekibimiz</span></a>
                                   
                                </li>
                                <li class="dropdown">
                                    <a href="/Realshed/index.html"><span>Blog</span></a>
                                    <ul>
                                        <li><a href="/Realshed/blog-1.html">Blog 01</a></li>
                                        <li><a href="/Realshed/blog-2.html">Blog 02</a></li>
                                        <li><a href="/Realshed/blog-3.html">Blog 03</a></li>
                                        <li><a href="/Realshed/blog-details.html">Blog Details</a></li>
                                    </ul>
                                </li>
                                <li><a href="@Url.Action("Index","Contact")"><span>İletişim</span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-right-content clearfix">
                    @* <div class="sign-box">
                        <a href="/Realshed/signin.html"><i class="fas fa-user"></i>Sign In</a>
                    </div>
                    <div class="btn-box">
                        <a href="/Realshed/index.html" class="theme-btn btn-one"><span>+</span>Add Listing</a>
                    </div> *@
                </div>
            </div>
        </div>
    </div>

    <!--sticky Header-->
    <div class="sticky-header">
        <div class="outer-box">
            <div class="main-box">
                <div class="logo-box">
                    <figure class="logo"><a href="/Realshed/index.html"><img src="/Realshed/assets/images/FibiLogo.png" alt=""></a></figure>
                </div>
                <div class="menu-area clearfix">
                    <nav class="main-menu clearfix">
                        <!--Keep This Empty / Menu will come through Javascript-->
                    </nav>
                </div>
                @* <div class="btn-box">
                    <a href="/Realshed/index.html" class="theme-btn btn-one"><span>+</span>Add Listing</a>
                </div> *@
            </div>
        </div>
    </div>
</header>