@model List<ResultRentalCommercialPropertyListingDto>

    <div class="widget-title">
        <h5>Featured Properties</h5>
    </div>
    <div class="single-item-carousel owl-carousel owl-theme owl-nav-none dots-style-one">
          @foreach(var item in Model)
            {
        <div class="feature-block-one">

          
                <div class="inner-box">
                    <div class="image-box">
                        <figure class="image"><img src="assets/images/feature/feature-1.jpg" alt=""></figure>
                        <div class="batch"><i class="icon-11"></i></div>
                        <span class="category">Featured</span>
                    </div>
                    <div class="lower-content">
                        <div class="title-text"><h4><a href="property-details.html">@item.PropertyName</a></h4></div>
                        <div class="price-box clearfix">
                            <div class="price-info">
                                <h6>Start From</h6>
                                <h4>@item.Rent.ToString("N0") TL </h4>
                            </div>
                        </div>
                        <p>@item.PropertyDescription</p>
                        <div  class="btn-box"><a href="property-details.html" class="theme-btn btn-two">Detayları Gör</a></div>
                    </div>
                </div>
         
       
        </div>
    }
    </div>

