@model FibiEmlakDanismanlik.WebUI.Models.CompareActionButtonVm

<ul class="other-option pull-right clearfix">
    <li>
        <a href="javascript:void(0)" title="Paylaş">
            <i class="icon-37"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="window.print(); return false;" title="Yazdır">
            <i class="icon-38"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)"
           class="js-compare-btn"
           title="Karşılaştır"
           data-listing-id="@Model.ListingId"
           data-usage-type-id="@Model.UsageTypeId"
           data-listing-type="@Model.ListingType"
           data-compare-type-key="@Model.CompareTypeKey">
            <i class="icon-12"></i>
        </a>
    </li>
</ul>