<ul class="other-option pull-right clearfix">
    <li>
        <a href="javascript:void(0)" title="Paylaş">
            <i class="icon-37"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" onclick="window.print(); return false;" title="Yazdır">
            <i class="icon-38"></i>
        </a>
    </li>
    <li>
        <a href="javascript:void(0)" title="Karşılaştır">
            <i class="icon-12"></i>
        </a>
    </li>
</ul>